@{
    ViewData["Title"] = "Bize Ulaşın";
}

<div class="container mt-5">
    <h1 class="my-4">@ViewData["Title"]</h1>
    <p>Bize ulaşmak için aşağıdaki iletişim bilgilerini kullanabilirsiniz:</p>
    <ul>
        <li>**E-posta:** saricayiralperen@gmail.com</li>
        <li>**Telefon:** +90 507 615 26 45</li>
        <li>**Adres:** No:88 Piri Reis Mah., Kocaeli Darıca, Türkiye</li>
    </ul>
    <p>Sorularınız veya geri bildirimleriniz için bize yazmaktan çekinmeyin.</p>
</div>